body  {
    font-size: 18px;
    color: #3f602d !important;
}

.page-heading {
    font-weight: 800;
    padding-top: 30px;
    letter-spacing: 1px;
    font-size: 27px;
}

::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  background: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5d7d8d; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f5b69; 
}


/*------------------------------------------contact modal*/

.modal {
max-height: none;
}

.contact-header {
    font-size: 20px;
}

#message-sent,
.contact-header,
.contact-buttons,
.contact-buttons > button {
    font-weight: 600;
}

.purple.lighten-1,
.grey.darken-1 {
    margin-top: 20px;
}

.contact-header > .fas {
    color: #b551c7;
}

.contact-icon {
    font-size: 25px !important;
}

/* took code for loder here and customized it https://www.w3schools.com/howto/howto_css_loader.asp*/
.loader {
  border: 5px solid rgb(228, 219, 219);
  border-top: 5px solid rgb(117 155 162);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  margin-top: 26px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*-------------------------------------navbar on base.html*/

.bg-color {
    background: linear-gradient(rgb(137 255 154), rgb(255 136 136)) no-repeat;
    min-height: 100vh;
}

.logo {
    color: #3f602d;
    font-weight: 800;
    font-size: 27px;
    padding: 10px;
}

nav ul a, 
.sidenav,
.fas.fa-bars {
    color: #3f602d;
    font-weight: 700;
    font-size: 17px;
    padding-top: 4px;
}

.dropdown-trigger {
    height: 68px;
}

.dropdown-content li> a {
    color: #3f602d;
    font-weight: 500;
}

#dropdown2 {
    width: 150px !important;
    height: 250px !important;
}

.fas.fa-bars {
    font-size: 27px;
}

.nav-wrapper {
    border-bottom: #3f602d;
    border-top: none;
}

.sidenav-trigger {
    float: right !important;
}

#fruits {
    float: right;
}

#fruits > li > i,
.logo > i {
    color: #53aa41;
    font-weight: 700;
    font-size: 35px;
}

#fruits > li > i {
    padding-right: 25px;
    padding-top: 15px;
}

.fas.fa-search {
    font-size: 20px;
}

#nav {
    height: 117px;
    background-color: transparent !important;
    background: url(../images/tree.png) no-repeat center;
    background-size: contain;
}

.nav-row {
    margin-bottom: 0;
}

.nav-row,
.fruits {
    height: 50px !important;
}

.form-base {
    position: relative;
    top: -7px;
}

.nav-wrapper .input-field input[type=text] {
    height: 37px;
    background: #ffffffd4;
    border-radius: 4px;
    width: 300px;
}

.fas.fa-search {
    position: relative;
    padding-bottom: 5px;
}

div.row.nav-row form.col.search-col {
    padding-left: 7px;
}

nav form {
    height: 44%;
}

.fas.fa-caret-down {
    font-size: 16px;
    position: relative;
    top: -3px;
}

form > button,
form > a { 
    margin-bottom: 7px;
}

.start-bg-color {
    background-color: white !important;
}


/*-------------------------------------navbar on start.html*/

.nav-search,
.nav-border {
    height: 65px;
}

.nav-border {
    background: white;
}

.nav-border,
.nav-search { 
     box-shadow: none;
     border: none;
}

.nav-search {
    position: relative;
    top: -77px;
    height: 1px;
}

.search-start{
    background: rgb(37 26 94 / 61%);
}

.form-start {
    position: relative;
    top:10px;
}

.form-start > button, .form-start > a {
    margin-bottom: 3px;
}


/*-------------------------------------hero-img & info-box on start.html */

/* I copied some code for the hero-imge from the Love Running project in the CI course*/
.hero-container {
    height: 590px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: -30px;
}

.hero-img {
  height: 590px;
  background: url( https://www.chocolateandcheeseplease.com/wp-content/uploads/2017/10/IMG_3857.jpg) center center no-repeat;
  background-size: cover;
  animation-name: hero-zoom;  /* I copied the code for zooming in the hero image in the Love Running project in the CI course*/
  animation-duration: 5s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.info-box {
    background: rgb(37 26 94 / 61%);
    font-size: 27px;
    padding-left: 15px;
    position: relative;
    z-index: 20;
    top: -227px;
    color: white;
    left: 67px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    font-weight: 700;
    width: 300px;
}


/*-------------------------------------About section on start.html*/

section > p {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 16px;
}

.fab.fa-whmcs, 
.fas.fa-question {
    font-weight: 600;
    font-size: 20px;
    padding-right: 10px;
    color: #4f6069f2;
}


h6, h5 {
    font-weight: 700;
}

#positive {
    color: #750462;
    background: rgba(255, 192, 203, 0.753);
    padding: 10px;
}

#zero {
    color: #3f3204;
    background: #ceeea9;
    padding: 10px;
}

#negative {
    color: #0f1b3e;
    background: #d3d8ff;
    padding: 10px;
}

.food-list {
    font-size: 18px;
    font-weight: 500;
}

.video {
    background: #ceeea9;
    padding-top: 2%;
    font-weight: 500;
    font-size: 18px;
}

.video, 
.footer {
    margin-bottom: 0;
}

.video > .col {
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-heading {
    font-weight: 800;
    font-size: 25px;
    margin-top: -10px;
    padding-bottom: 10px;
    color: #4f6069f2;
}

#site-link {
    text-decoration: underline;
    color: rgb(97, 29, 97);
}


/*-------------------------------------recipe_detail.html */

.center-recipe, 
.recipe-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.recipe-bg {
    width: 600px;
    background:white;
    box-shadow: 0px 0px 8px black;
}

.img-container {
    height: 500px;
    width: 100%;
}

.img-container > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

table, 
td {
    text-align: center;
    border: 3px solid #0e610e;
    font-size: 18px;
    font-weight: 500;
}

td {
     width: 50%;
     background: #e9f09c;
}

.recipe-header  {
    position: relative;
    top: -140px;
    padding: 10px;
    background: white;
    font-size: 25px;
    font-weight: 600;
    width: fit-content;
    border: 3px solid #0e610e;
    box-shadow: 0px 0px 8px rgb(44, 114, 17);
    text-transform: capitalize;
    word-break: break-word;
}

.bullet > li {
    list-style-type: disc !important;
}

.circle > li {
    list-style-type: circle !important;
}

.instructions {
    padding-bottom: 50px;
}

.recipe-bg > section  {
    padding-left: 40px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 20px;
}

.recipe-bg > section > h5 {
    font-weight: 600;
}

.recipe-row {
    margin-bottom: 0;
}

.col-recipe-buttons {
    margin-top: 60px;
    margin-bottom: 0;
} 

.col-recipe-buttons > a,
.cancel-delete-col > a {
    font-weight: bold;
    height: 50px;
    padding-top: 7px;
    margin-left: 32px;
    margin-right: 32px;
}


/*-------------------------------------add_recipe.html */

.form-bg {
    background: white;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 7px rgb(9, 94, 20);
    padding: 20px !important;
}

.input-field .prefix {
    font-size: 20px;
    color: #ea4fb5;
}

label > strong {
    color: #ea4fb5 !important;
    font-size: 25px;
    font-weight: 700;
}

.select-wrapper input.select-dropdown,
.time {
font-size: 18px;
}

.input-field > label {
    color:#3f602d;
    font-size: 18px; 
}

.input-field > label > strong {
    color: #3f602d;
}

.row-form {
    margin-bottom: 0;
}

.add-button {
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
}

.row-instructions,
.row-ingredients {
    margin-top: 50px;
}

.cancel-delete-col {
    display: flex;
    justify-content: space-around;
}

.modal-content > h6 {
	margin-bottom: 25px;
	font-weight: 600;
}

.modal-close,
.btn.red.lighten-1  {
	margin-right: 15px;
    font-weight: bold;
}


/*-------------------------------------category.html */

.card {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}

.row-category {
    margin-bottom: 0;
}

.card-action {
    background: #f44336 !important;
}

.category-heading {
    text-decoration: underline;
    cursor: pointer;
}

.category-heading > a {
    color: #3f602d;
    text-shadow: 1px 1px #356035
}

.category-heading:hover {
    color:  #419441;
}

.p-minutes {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 1px 1px #356035
}

.fas.fa-leaf {
    color: #3ea73e;
}

.fas.fa-clock {
    color:#69ff69;
    text-shadow: 1px 1px #356035
}

.card-content > h5 {
    font-weight: 500;
    text-shadow: 1px 1px #356035;
    word-break: break-word;
}

.card .card-image img {
    object-fit: cover;
    height: 340px;
}

div.card-image > a > img:hover {
    filter: brightness(85%);
}


/*-------------------------------------all_recipes.html*/

.flash {
    font-size: 25px; 
    font-weight: 500;
}

.no-results > h5 {
    font-weight: 700;
    color: #d02727;
}


/*-------------------------------------footer*/

#footer-icons > li {
    display: inline;
    font-size: 20px;
}

#footer-icons, 
.copy,
.contact {
    display: flex;
    justify-content: center;
}

.copy > p {
    color: white;
    font-weight: 500;
    position: relative;
    top: 4px;
    font-size: 18px;
}

.contact > #contact {
    background: white;
    color: #8b4444;
    font-weight: 800;
    position: relative;
    top: 19px;
}

footer {
    background: #2b3b43;
    width: 100%;
    position: absolute;
}

.row.row-form {
    margin-bottom: 0;
}

.fa-inverse {
	color: #8b4444;
}

.fa-stack-2x {
    color: white;
}

.fa-inverse:hover {
	color: #c46363;
}

.contact > #contact:hover {
    color: #c46363;
}


/*-------------------------------------media queries*/

@media screen and (min-width: 540px) {
    #search {
    width: 250px;
    }

    .logo > img {
        width: 35px;
        height: 35px;
    }

    .logo {
        font-size: 35px;
    }

    h6 {
        font-size: 1.30rem;
    }

    section > p {
        font-size: 18px;
    }
}


@media screen and (max-width: 1284px) { 
    .card {
    margin-left: 10px;
    margin-right: 10px; 
    }
}

@media screen and (max-width: 1280px) {
    section > p {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 710px) {
  .col-recipe-buttons > a {
        margin-left: 0;
        margin-right: 0;
        margin: 7px;
    }
}

@media screen and (max-width: 993px) {
    .fas.fa-caret-down {
        position: relative;
        float: right;
        right: 120px;
        top: -2px;
    }
}

@media screen and (max-width: 668px) {
    .fruits {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .contact {
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .video > .recipe-video {
        padding-top: 0;
    }

    .nav-border { 
        margin-top: 15px;
    }

    .form-base,
    .form-start {
        display: flex;
        justify-content: center;
    }

    .info-box {
        display: flex;
        left: 0;
        margin: 0 auto;
    }
}

@media screen and (min-width: 500px) {
     #search {
    width: 250px;
    }
}

@media screen and (max-width: 450px) {
    .hero-img,
    .hero-container {
        height: 250px;
    }

    .info-box {
        display: none;
    }

    .nav-wrapper .input-field input[type=text] {
        background: #ffffff9e;
    }

     .nav-search .input-field input[type=text] {
        margin-top: 0;
        width: 100%;
        background: #ffffff9e;
    }

    h5 {
        font-size: 1.40rem;
    }

    .form-base {
        padding-left: 1px;
        padding-right: 1px;
    }

    .col-about {
        margin-top: 0;
    }

    .modal.open {
        width: 90%;
    }

    .nav-search {
    top: -50px;
    }
}

@media screen and (max-width: 359px) {
    .logo {
    font-size: 25px;
    }
}

/*for galaxy fold*/
@media screen and (max-width: 280px) {
    .logo {
    font-size: 21px;
    }
}

