.bg-color {
    background: linear-gradient(rgb(255, 139, 249), rgb(126, 231, 243)) no-repeat; 
    min-height: 100vh;
}

.logo {
    color: #333333;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}

nav ul a, 
.sidenav, 
.fas.fa-bars {
    color: #333333;
    font-weight: bold;
}

.nav-wrapper {
    border-bottom: 2px solid black;
}

.sidenav-trigger {
    float: right !important;
}

 .logo > img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: -7px;
}




