{% extends "base.html" %}
{% block code %}

<div class="row">
    <div class="col s12 center-align">
        <h5>ADD RECIPE</h5>
        <hr>
    </div>
</div>


<div class="row row-form">
    <form class="col s12 m10 offset-m1 l6 offset-l3 form-bg" method="POST">
        <div class="row">
        <!--category-->
            <div class="input-field col s12">
               <select id="category" name="category" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label for="category">Recipe Category</label>
            </div>
        </div>

        <!--heading ingredients-->
        <div class="row">
            <div class="col s12 center-align">
                <h6 class="form-heading">INGREDIENTS</h6>
                 <hr class="form-hr">
            </div>
        </div>
        <!---row ingredients-->
        <div class="row row-ingredients">
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient1" type="text" class="validate">
                <label for="ingredient1">Ingredient 1</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient2" type="tel" class="validate">
                <label for="ingredient2">Ingredient 2</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient3" type="text" class="validate">
                <label for="ingredient3">Ingredient 3</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient4" type="tel" class="validate">
                <label for="ingredient4">Ingredient 4</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient5" type="text" class="validate">
                <label for="ingredient5">Ingredient 4</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient6" type="tel" class="validate">
                <label for="ingredient6">Ingredient 6</label>
            </div>
                <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient7" type="text" class="validate">
                <label for="ingredient7">Ingredient 7</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient8" type="tel" class="validate">
                <label for="ingredient8">Ingredient 8</label>
            </div>
                <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient9" type="text" class="validate">
                <label for="ingredient9">Ingredient 9</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient10" type="tel" class="validate">
                <label for="ingredient10">Ingredient 10</label>
            </div>
        </div><!--/row-ingredients-->
        <!--heading instructions-->
         <div class="row">
            <div class="col s12 center-align">
                <h6 class="form-heading">INSTRUCTIONS</h6>
                 <hr class="form-hr">
            </div>
        </div>
        <!--Instructions-->
        <div class="row row-instructions">
            <div class="col s12">
                <div class="input-field col s12">
                    <textarea id="1" class="materialize-textarea"></textarea>
                    <label for="1"><strong>1.</strong></label>
                </div>
            </div>
             <div class="col s12">
                <div class="input-field col s12">
                    <textarea id="2" class="materialize-textarea"></textarea>
                    <label for="2"><strong>2.</strong></label>
                </div>
            </div>
             <div class="col s12">
                <div class="input-field col s12">
                    <textarea id="3" class="materialize-textarea"></textarea>
                    <label for="3"><strong>3.</strong></label>
                </div>
            </div>
             <div class="col s12">
                <div class="input-field col s12">
                    <textarea id="4" class="materialize-textarea"></textarea>
                    <label for="4"><strong>4.</strong></label>
                </div>
            </div>
             <div class="col s12">
                <div class="input-field col s12">
                    <textarea id="5" class="materialize-textarea"></textarea>
                    <label for="5"><strong>5.</strong></label>
                </div>
            </div>
             <div class="col s12">
                <div class="input-field col s12">
                    <textarea id="6" class="materialize-textarea"></textarea>
                    <label for="6"><strong>6.</strong></label>
                </div>
            </div>
             <div class="col s12">
                <div class="input-field col s12">
                    <textarea id="7" class="materialize-textarea"></textarea>
                    <label for="7"><strong>7.</strong></label>
                </div>
            </div>
        </div><!--/instructions-->
    </form>
</div>


{% endblock %}