{% extends "base.html" %}
{% block code %}

    {% if all_recipes|length > 0 %} 
    <div class="row">
        <div class="col s12 center-align"> 
            <h5 class="page-heading">
                ALL RECIPES
            </h5>
            {% for note in get_flashed_messages() %}
			    <p class="flash">{{ note }} </p>
            {% endfor %}
        </div>
    </div>
    <div class="row row-category">
        {% for info in all_recipes %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="{{ url_for('recipes', id_for_recipe=info._id) }}">
                            <img src="{{ info.image }}">
                        </a>
                    </div>
                     <div class="card-content center-align">
                        <h5 class="category-heading"> <i class="fas fa-leaf"></i>
                            <a href="{{ url_for('recipes', id_for_recipe=info._id) }}" class="category-heading"> 
                                {{ info.recipe_name }} 
                            </a>
                        </h5>
                    </div>
                    <div class="card-action center-align">
                        <p class="p-minutes"><i class="fas fa-clock"></i> 
                            {{ info.time }}
                        </p>
                    </div>  
                </div>
            </div><!--/col-->
        {% endfor %}
    </div><!--/row-->
    {% else %}
        <div class="row">
            <div class="col s12 center-align no-results"> 
                <h5 class="page-heading">
                    NO RESULTS FOUND. <br> 
                </h5>
            </div>
        </div>
    {% endif %}
        
{% endblock %}