<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yogic Recipes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>

    <div class="bg-color">

    <!-- Dropdown 1 -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">BREAKFAST</a></li>
        <li><a href="#!">MEALS</a></li>
        <li><a href="#!">DESSERTS</a></li>
        <li><a href="#!">SMOOTHIES</a></li>
    </ul>

    <!-- Dropdown 2 -->
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">BREAKFAST</a></li>
        <li><a href="#!">MEALS</a></li>
        <li><a href="#!">DESSERT</a></li>
        <li><a href="#!">SMOOTHIES</a></li>
    </ul>

    <nav class="transparent" id="nav">
        <div class="nav-wrapper">
            <form>
                <div class="row">
                    <div class="col s12 m6 l6 input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="fas fa-search"></i></label>
                    </div>
                    <div class="col s12 m6 l6 fruits">
                        <ul id="fruits">
                            <li><img class="fruit-img" src="../static/images/berry.png" alt="berry"></li>
                            <li><img class="fruit-img" src="../static/images/orange.png" alt="orange"></li>
                            <li><img class="fruit-img" src="../static/images/banana.png" alt="banana"></li>
                        </ul>
                    </div>
                </div>
            </form>

            <a href="#!" class="logo">
                <img src="../static/images/apple.png" alt="apple">
                YOGIC RECIPES
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">START</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">RECIPES <i class="fas fa-caret-down"></i></a></li>
                <li><a href="#">ADD RECIPE</a></li>
                <li><a href="#">MY RECIPES</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">START</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">RECIPES <i class="fas fa-caret-down"></i></a></li>
        <li><a href="#">ADD RECIPE</a></li>
        <li><a href="#">MY RECIPES</a></li>
    </ul>

    {% block code %}
    {% endblock %}

    </div> <!--bg-color-->

    <footer>
        <div class="row">
            <div class="col s12 m4 contact">
                <a class="waves-effect waves-light btn">button</a>
            </div>
            <div class="col s12 m4">
                <ul id="footer-icons">
                    <li>
                        <span class="fa-stack fa-1x">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </li>
                    <li> 
                        <span class="fa-stack fa-1x">
                            <a href="https://www.youtube.com/" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </li>
                     <li> 
                        <span class="fa-stack fa-1x">
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram-square fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col s12 m4 copy">
                <p>&copy; Daniela Krstevska</p>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>