<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yogic Recipes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script> 
    <script>
        (function(){
            emailjs.init("user_AVWl7AxkQOq582h8jglh3");
        })();
    </script>
</head>
<body>

    <!-- Dropdown 1 -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{{ url_for('breakfast') }}">BREAKFAST</a></li>
        <li><a href="{{ url_for('meals') }}">MEALS</a></li>
        <li><a href="{{ url_for('desserts') }}">DESSERTS</a></li>
        <li><a href="{{ url_for('smoothies') }}">SMOOTHIES</a></li>
        <li><a href="{{ url_for('all_recipes') }}">ALL RECIPES</a></li>
    </ul>

    <!-- Dropdown 2 -->
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="{{ url_for('breakfast') }}">BREAKFAST</a></li>
        <li><a href="{{ url_for('meals') }}">MEALS</a></li>
        <li><a href="{{ url_for('desserts') }}">DESSERT</a></li>
        <li><a href="{{ url_for('smoothies') }}">SMOOTHIES</a></li>
        <li><a href="{{ url_for('all_recipes') }}">ALL RECIPES</a></li>
    </ul>

    {% block start %}

    <div class="bg-color">
        <nav class="nav-wrapper transparent" id="nav">
            <div class="row nav-row">
                <form class="col s12 m6 l4 input-field" action="{{ url_for('search') }}" method="POST">
                    <button type="submit" class="btn green"><i class="fas fa-search"></i></button>
                    <input id="index_search" type="text" name="index_search" minlength="1" required>
                    <a href="{{ url_for('all_recipes') }}" class="btn green"><i class="fas fa-undo-alt"></i></a>
                </form>
                <div class="col s12 m6 l8 fruits">
                    <ul id="fruits">
                        <li><i class="fab fa-raspberry-pi"></i></li>
                        <li><i class="far fa-lemon"></i></li>
                        <li><i class="fas fa-apple-alt"></i></li>
                    </ul>
                </div>
            </div><!--/row-->
           
            <a href="{{ url_for('start') }}" class="logo">
                <i class="fas fa-seedling"></i> YOGIC RECIPES
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="fas fa-bars"></i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('start') }}">START</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">RECIPES <i class="fas fa-caret-down"></i></a></li>
                <li><a href="{{ url_for('add_recipe') }}">ADD RECIPE</a></li>
            </ul>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('start') }}">START</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">RECIPES <i class="fas fa-caret-down"></i></a></li>
            <li><a href="{{ url_for('add_recipe') }}">ADD RECIPE</a></li>
        </ul>
    {% block code %}
    {% endblock %}

    </div> <!--bg-color-->

    {% endblock %}

    <footer>
        <div class="row footer">
            <div class="col s12 m4 contact">
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Contact</a>
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                         <!-- Contact Form -->
                        <h5 class="center-align contact-header"><i class="fas fa-envelope"></i> danikrs8@gmail.com</h5>
                        <p class="center-align" id="message-sent"></p>
                        <form class="row" onsubmit="return sendEmail(this);">
                            <div class="input-field col s12">
                                <i class="fas fa-user-circle prefix contact-icon"></i>
                                <input placeholder="Name" id="first_name" type="text" pattern="^[a-zA-Z]+$" class="validate" required>
                                <label for="first_name">First Name</label>
                                <span class="helper-text" data-error="Please write your name" data-success="Name valid"></span>
                            </div>
                            <div class="input-field col s12">
                                <i class="fas fa-envelope prefix contact-icon"></i>
                                <input placeholder="Email" id="email" type="email" class="validate" 
                                    pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required>  <!--pattern for email was taken from this post: https://stackoverflow.com/questions/5601647/html5-email-input-pattern-attribute-->
                                <label for="email">Email</label>
                                <span class="helper-text" data-error="Please write your email" data-success="Email valid"></span>
                            </div>
                            <div class="input-field col s12">
                                <i class="fas fa-pencil-alt prefix contact-icon"></i>
                                <textarea id="textarea1" class="materialize-textarea" minlength="8" placeholder="Message" required></textarea>
                                <label for="textarea1">Message</label>
                            </div>
                            <div class="center-align contact-buttons">
                                <button class="btn purple lighten-1" type="submit">Send Message</button>
                                <a href="#!" class="modal-close waves-effect waves-green btn grey darken-1">Close</a>
                            </div>
                        </form>
                    </div><!--modal content-->
                </div><!--/modal structure-->
            </div><!--/col-->
            <div class="col s12 m4">
                <ul id="footer-icons">
                    <li>
                        <span class="fa-stack fa-1x">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </li>
                    <li> 
                        <span class="fa-stack fa-1x">
                            <a href="https://www.youtube.com/" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </li>
                     <li> 
                        <span class="fa-stack fa-1x">
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram-square fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col s12 m4 copy">
                <p>&copy; Daniela Krstevska</p>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>



 