{% extends "base.html" %}
{% block code %}

<div class="row">
    <div class="col s12 center-align">
        <h5 class="page-heading">BREAKFAST</h5>
        <hr class="page-hr">
    </div>
</div>

 <div class="row row-category">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="../static/images/beetroot.jpg">
            </div>
            <div class="card-content center-align">
                <h5>Beetroot Overnight Oats</h5>
            </div>
            <div class="card-action center-align">
                <p class="p-minutes"><i class="fas fa-clock"></i> 20 minutes </p>
            </div>
        </div>
    </div><!--col-->
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="../static/images/beetroot.jpg">
            </div>
            <div class="card-content center-align">
                <h5>Beetroot Overnight Oats</h5>
            </div>
            <div class="card-action center-align">
                <p class="p-minutes"><i class="fas fa-clock"></i> 20 minutes </p>
            </div>
        </div>
    </div><!--col-->
        <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="../static/images/beetroot.jpg">
            </div>
            <div class="card-content center-align">
                <h5>Beetroot Overnight Oats</h5>
            </div>
            <div class="card-action center-align">
                <p class="p-minutes"><i class="fas fa-clock"></i> 20 minutes </p>
            </div>
        </div>
    </div><!--col-->
</div><!--row-->
           
        
{% endblock %}