{% extends "base.html" %}
{% block code %}

<div class="row">
    <div class="col s12 center-align">
        <h5 class="page-heading">EDIT RECIPE</h5>
    </div>
</div>

<div class="row row-form">
    <form class="col s12 m10 offset-m1 l6 offset-l3 form-bg" method="POST" action="{{ url_for('add_recipe') }}">
        <div class="row">
          <div class="col s12 input-field">
                <i class="fas fa-image prefix"></i>
                <!--I used the regex code for checking URL from this site: https://www.regextester.com/93652-->
                <input id="image" name="image" type="text" class="validate" required pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$">
                <label for="image">URL link address for image</label>
            </div>
             <div class="col s12 input-field">
               <i class="fas fa-utensils prefix"></i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
            <div class="col s12 m6 input-field">
                <i class="fas fa-user prefix"></i>
                <input id="added_by" name="added_by" type="text" class="validate" required pattern="^[a-zA-Z]+$">
                <label for="added_by">Your Name</label>
            </div>
            <div class="col s12 m6 input-field">
                <i class="far fa-clock prefix"></i>
                <input id="time" name="time" type="text" class="validate" required minlength="1" maxlength="3" pattern="^[0-9]+$">
            <label for="time">Time in minutes</label>
        </div>
            <!--category-->
            <div class="input-field col s12 m6">
            <i class="fas fa-folder-open prefix"></i>
               <select id="category" name="category" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    <option value="BREAKFAST">BREAKFAST</option>
                    <option value="MEALS">MEALS</option>
                    <option value="DESSERTS">DESSERTS</option>
                    <option value="SMOOTHIES">SMOOTHIES</option>
                </select>
            </div>
            <!--portions-->
            <div class="input-field col s12 m6">
            <i class="fas fa-mortar-pestle prefix"></i>
               <select id="portions" name="portions" class="validate" required>
                    <option value="" disabled selected>Choose Portions</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <!---row ingredients-->
        <div class="row row-ingredients">
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient1" name="ingredients" type="text" class="validate" minlength="1" required>
                <label for="ingredient1" >Ingredient 1</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient2" name="ingredients" type="tel" class="validate" minlength="1" required>
                <label for="ingredient2">Ingredient 2</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient3" name="ingredients" type="text" class="validate">
                <label for="ingredient3">Ingredient 3</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient4" name="ingredients" type="tel" class="validate">
                <label for="ingredient4">Ingredient 4</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient5" name="ingredients" type="text" class="validate">
                <label for="ingredient5">Ingredient 5</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient6" name="ingredients" type="tel" class="validate">
                <label for="ingredient6">Ingredient 6</label>
            </div>
                <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient7" name="ingredients" type="text" class="validate">
                <label for="ingredient7">Ingredient 7</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient8" name="ingredients" type="tel" class="validate">
                <label for="ingredient8">Ingredient 8</label>
            </div>
                <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient9" name="ingredients" type="text" class="validate">
                <label for="ingredient9">Ingredient 9</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient10" name="ingredients" type="text" class="validate">
                <label for="ingredient10">Ingredient 10</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient11" name="ingredients" type="text" class="validate">
                <label for="ingredient11">Ingredient 11</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient12" name="ingredients" type="text" class="validate">
                <label for="ingredient10">Ingredient 12</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient13" name="ingredients" type="text" class="validate">
                <label for="ingredient13">Ingredient 13</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient14" name="ingredients" type="text" class="validate">
                <label for="ingredient14">Ingredient 14</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient15" name="ingredients" type="text" class="validate">
                <label for="ingredient15">Ingredient 15</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient16" name="ingredients" type="text" class="validate">
                <label for="ingredient16">Ingredient 16</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient17" name="ingredients" type="text" class="validate">
                <label for="ingredient17">Ingredient 17</label>
            </div>
             <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient18" name="ingredients" type="text" class="validate">
                <label for="ingredient18">Ingredient 18</label>
            </div>
               <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient19" name="ingredients" type="text" class="validate">
                <label for="ingredient19">Ingredient 19</label>
            </div>
               <div class="input-field col s6">
                <i class="fas fa-lemon prefix"></i>
                <input id="ingredient20" name="ingredients" type="text" class="validate">
                <label for="ingredient20">Ingredient 20</label>
            </div>
        </div><!--/row-ingredients-->
        <!--Instructions-->
        <div class="row row-instructions">
            <div class="col s12">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea id="1" name="instructions" class="materialize-textarea validate" minlength="1" required></textarea>
                    <label for="1">Instruction 1</label>
                </div>
            </div>
             <div class="col s12">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea id="2" name="instructions" class="materialize-textarea validate" minlength="1"></textarea>
                    <label for="2">Instruction 2</label>
                </div>
            </div>
             <div class="col s12">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea id="3" name="instructions" class="materialize-textarea validate"></textarea>
                    <label for="3">Instruction 3</label>
                </div>
            </div>
             <div class="col s12">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea id="4" name="instructions" class="materialize-textarea validate"></textarea>
                    <label for="4">Instruction 4</label>
                </div>
            </div>
             <div class="col s12">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea id="5" name="instructions" class="materialize-textarea validate"></textarea>
                    <label for="5">Instruction 5</label>
                </div>
            </div>
             <div class="col s12">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea id="6" name="instructions" class="materialize-textarea validate"></textarea>
                    <label for="6">Instruction 6</label>
                </div>
            </div>
             <div class="col s12">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea id="7" name="instructions" class="materialize-textarea validate"></textarea>
                    <label for="7">Instruction 7</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea id="8" name="instructions" class="materialize-textarea validate"></textarea>
                    <label for="8">Instruction 8</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea id="9" name="instructions" class="materialize-textarea validate"></textarea>
                    <label for="9">Instruction 9</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea id="10" name="instructions" class="materialize-textarea validate"></textarea>
                    <label for="10">Instruction 10</label>
                </div>
            </div>
        </div><!--/instructions-->
        <div class="row">
            <div class="col s12 center-align">
                <button class="waves-effect waves-light btn-large add-button" type="submit" name="action">
                    Add Recipe<i class="fas fa-plus right"></i>
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}