{% extends "base.html" %}
{% block code %}

<div class="row">
    <div class="col s12 center-align">
        <h4> 
            {{ recipe.category.capitalize() }}
        </h4>
    </div>
</div>

<div class="row recipe-row">
    <div class="col s12 center-recipe">
        <div class="recipe-bg">
            <div class="img-container">
                <img  src="{{ recipe.image }}" alt="recipe-image">
                <p class="recipe-header">
                    {{ recipe.recipe_name.capitalize() }}
                </p>
            </div>
            <table>
                <tr>
                    <td>Portions:  
                        <em> {{ recipe.portions }} </em>
                    </td>
                    <td>Time:
                        <em> {{ recipe.time }} </em>
                    </td>
                </tr>
            </table>
            <section>
                <h5>Ingredients</h5>
                    <ul class="bullet">
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient.capitalize() }} </li>
                    </ul>
                    {% endfor %}
            </section>
            <section class="instructions">
                <h5>Instructions</h5>
                    {% for instruction in recipe.instructions %}
                        <ul class="circle">
                            <li> {{ instruction.capitalize() }} </li>
                        </ul>
                    {% endfor %}
            <p class="center-align"> 
                <strong>Added by:</strong> 
                <em>{{ recipe.added_by }}</em>
            </p>
            </section> 
        </div><!--recipe-bg-->
   </div>
</div>

{% endblock %}