{% extends "base.html" %}
{% block code %}
    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.category }}<br>
        {{ recipe.time }}<br>
        {{ recipe.portions }}<br>
        {% for ingredient in recipe.ingredients %}
            <ul>
                <li>{{ ingredient }}</li>
            </ul>
        {% endfor %}
    {% for instruction in recipe.instructions %}
        <ul>
            <li>{{ instruction }}</li>
        </ul>
        {% endfor %}
    {% endfor %}

{% endblock %}