<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yogic Recipes - Start</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>

    <!-- Dropdown 1 -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">BREAKFAST</a></li>
        <li><a href="#!">MEALS</a></li>
        <li><a href="#!">DESSERTS</a></li>
        <li><a href="#!">SMOOTHIES</a></li>
    </ul>

    <!-- Dropdown 2 -->
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">BREAKFAST</a></li>
        <li><a href="#!">MEALS</a></li>
        <li><a href="#!">DESSERT</a></li>
        <li><a href="#!">SMOOTHIES</a></li>
    </ul>
    
    <!--logo & menu-->
    <nav class="nav-color nav-border">
        <div class="nav-wrapper nav-border">
            <a href="{{ url_for('start') }}"" class="logo">
                <img src="../static/images/apple.png" alt="apple">
                YOGIC RECIPES
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('start') }}">START</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">RECIPES <i class="fas fa-caret-down"></i></a></li>
                <li><a href="{{ url_for('add_recipe') }}">ADD RECIPE</a></li>
                <li><a href="#">MY RECIPES</a></li>
            </ul>
        </div>
    </nav>

    <!--for mobile menu-->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('start') }}">START</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">RECIPES <i class="fas fa-caret-down"></i></a></li>
        <li><a href="{{ url_for('start') }}">ADD RECIPE</a></li>
        <li><a href="#">MY RECIPES</a></li>
    </ul> 

    <div class="hero-container">
        <!--hero img-->
        <div class="hero-img"></div>
        <div class="info-box">
            <p>EXPLORE POSITIVE PRANIC RECIPES</p>
        </div>
    </div>

    <!--search input-->
    <nav class="nav-search transparent">
        <div class="nav-wrapper nav-search">
            <form>
                <div class="row">
                    <div class="col s12 m6 l6 input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="fas fa-search"></i></label>
                    </div>
                </div>
            </form>
        </div>
    </nav>

    <!--About section-->
    <div class="row">
        <div class="col s12 center-align">
            <section>
                <h5>ABOUT</h5>
                <hr>
            </section>
        </div>
        <div class="col s12 m6 l6">
            <section>
                <h6 class="center-align"><i class="fab fa-apple"></i> WELCOME TO YOGIC RECIPES</h6>
                <p> Here you can view Positive Pranic food recipes, also known as the "Yogic" and "Sattvic" diet, 
                which is a diet commonly adapted by yogis, sages and spirituals. The Yogic diet is split into 
                the three food categories: <strong>Positive Pranic</strong> (Gives you energy), <strong>Zero Pranic</strong> (Makes you lethargic) 
                and <strong>Negative Pranic</strong>(Takes your energy). The food is vegan with the exeption of honey which is 
                regarded as highly benefical in the Yogic world. </p>
            </section>
        </div>
        <div class="col s12 m6 l6">
            <section>
                <h6 class="center-align"><i class="fab fa-whmcs"></i> ADD & EDIT YOUR RECIPES</h6>
                    <p>Here you can upload your own yogic recipes, but be sure to only upload recipes with 
                    Positive Pranic foods as listed, smoothies and fruit bowls are usually Positive Pranic approved, without chocolate. 
                    To read more about Positive Pranic foods in depth view this site or scroll down to see the list. </p>
            </section>
        </div>
    </div>

    <!--Food list-->
    <div class="row food-list">
        <div class="col s12 m4 center-align">
            <h6 id="positive"> + Positive Pranic Food</h6>
            <p>Wintermelon</p>
            <p>Black Pepper</p>
            <p>Honey</p>
            <p>Fruits, Berries</p>
            <p>Salads, Herbs</p>
            <p>Legumes, Sprouts</p>
            <p>Nuts, Seeds</p>
            <p>Cereals, Whole Grains</p>
        </div>
         <div class="col s12 m4 center-align">
            <h6 id="zero"> 0 Zero Pranic Food</h6>
            <p>Tomatoes</p>
            <p>Potatoes</p>
        </div>
         <div class="col s12 m4 center-align">
            <h6 id="negative"> - Negative Pranic Food</h6>
            <p>Garlic, Onion</p>
            <p>Eggplant, Asafoetia(Hing)</p>
            <p>Coffee, Tea, Chocolate</p>
            <p>Hot Peppers</p>
            <p>Vinegar</p>
            <p>Intoxicants</p>
            <p>Nervous Stimulants</p>
        </div>
    </div>

    <!--videos-->
    <div class="row video">
        <div class="col s12 m6">
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/RViO_lOzLd4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p>Here you can listen to when Sadhguru talks about Positive Pranic foods from a yogic perspective.</p>
        </div>
        <div class="col s12 m6 recipe-video">
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HeY2ZoYxg8E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p>Here in this channel you can watch Positive Pranic Food recipes in video.</p>
        </div>
    </div>

    <!--footer-->
    <footer>
        <div class="row footer">
            <div class="col s12 m4 contact">
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Contact</a>
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Modal Header</h4>
                        <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <ul id="footer-icons">
                    <li>
                        <span class="fa-stack fa-1x">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </li>
                    <li> 
                        <span class="fa-stack fa-1x">
                            <a href="https://www.youtube.com/" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </li>
                     <li> 
                        <span class="fa-stack fa-1x">
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram-square fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col s12 m4 copy">
                <p>&copy; Daniela Krstevska</p>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
