{% extends "base.html" %}
{% block start %}
    <nav class="nav-color nav-border nav-wrapper">
        <a href="{{ url_for('start') }}" class="logo">
            <i class="fas fa-seedling"></i> YOGIC RECIPES
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{{ url_for('start') }}">START</a>
            </li>
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown2">RECIPES 
                    <i class="fas fa-caret-down"></i>
                </a>
            </li>
            <li>
                <a href="{{ url_for('add_recipe') }}">ADD RECIPE</a>
            </li>
        </ul>
    </nav>
    <!--for mobile menu-->
    <ul class="sidenav" id="mobile-demo">
        <li>
            <a href="{{ url_for('start') }}">START</a>
        </li>
        <li>
            <a class="dropdown-trigger" href="#!" data-target="dropdown1">RECIPES 
                <i class="fas fa-caret-down"></i>
            </a>
        </li>
        <li>
            <a href="{{ url_for('add_recipe') }}">ADD RECIPE</a>
        </li>
    </ul> 
    <div class="hero-container">
        <!--hero img-->
        <div class="hero-img"></div>
        <!--info-box-->
        <div class="info-box col s12 m6 l4">
            <p>EXPLORE POSITIVE PRANIC RECIPES</p>
        </div>
    </div>
    <!--search input-->
    <div class="row nav-row nav-search nav-wrapper">
        <form class="col s12 input-field form-start" action="{{ url_for('search') }}" method="POST">
            <button type="submit" class="btn deep-purple darken-1">
                <i class="fas fa-search"></i>
            </button>
            <input id="index_search" class="search-input-start" type="text" name="index_search" minlength="1" required>
            <a href="{{ url_for('all_recipes') }}" class="btn deep-purple darken-1">
                <i class="fas fa-undo-alt"></i>
            </a>
        </form>
    </div>
    <!--About section-->
    <div class="row">
        <div class="col s12 center-align col-about">
            <section>
                <h5 class="about-heading">ABOUT</h5>
            </section>
        </div>
        <div class="col s12 m6 l6">
            <section>
                <h6 class="center-align"><i class="fas fa-question"></i> WELCOME TO YOGIC RECIPES</h6>
                <p> Here you can find Positive Pranic food recipes, also known as "Yogic" and "Sattvic" food, 
                    which is a diet commonly followed by yogis, sages and spirituals. The Yogic diet is split into 
                    the three food categories: <strong>Positive Pranic</strong> (Gives you energy), 
                    <strong>Zero Pranic</strong> (Makes you lethargic) 
                    and <strong>Negative Pranic</strong>(Takes your energy). 
                    The food is vegan with the exeption of honey which is 
                    regarded as highly benefical in the Yogic world. 
                </p>
            </section>
        </div>
        <div class="col s12 m6 l6">
            <section>
                <h6 class="center-align"><i class="fab fa-whmcs"></i> ADD & EDIT YOUR RECIPES</h6>
                    <p>Here you can upload your own yogic recipes, but be sure to only upload recipes with 
                        Positive Pranic foods as listed, smoothies and fruit bowls are usually Positive 
                        Pranic approved, without chocolate. 
                        To read more about Positive Pranic foods in depth and see yogic recipes view this 
                        <a id="site-link" href="https://positivepranic.com/category/sattvic-food-recipes-positive-pranic-food/" target="_blank">
                            Positive Pranic site.
                        </a>
                    </p>
            </section>
        </div>
    </div>
    <!--Food list-->
    <div class="row food-list">
        <div class="col s12 m4 center-align">
            <h6 id="positive"> + Positive Pranic Food</h6>
            <p>Wintermelon</p>
            <p>Black Pepper</p>
            <p>Honey</p>
            <p>Fruits, Berries</p>
            <p>Salads, Herbs</p>
            <p>Legumes, Sprouts</p>
            <p>Nuts, Seeds</p>
            <p>Cereals, Whole Grains</p>
        </div>
         <div class="col s12 m4 center-align">
            <h6 id="zero"> 0 Zero Pranic Food</h6>
            <p>Tomatoes</p>
            <p>Potatoes</p>
        </div>
         <div class="col s12 m4 center-align">
            <h6 id="negative"> - Negative Pranic Food</h6>
            <p>Garlic</p>
            <p>Onion</p>
            <p>Eggplant, Asafoetia(Hing)</p>
            <p>Coffee, Tea, Chocolate</p>
            <p>Hot Peppers</p>
            <p>Vinegar</p>
            <p>Intoxicants</p>
            <p>Nervous Stimulants</p>
        </div>
    </div>
    <!--videos-->
    <div class="row video">
        <div class="col s12 m6">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/RViO_lOzLd4" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p>Sadhguru talks about Positive Pranic foods from a yogic perspective.</p>
        </div>
        <div class="col s12 m6 recipe-video">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/HeY2ZoYxg8E" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p>In this channel you can watch Positive Pranic Food recipes in video.</p>
        </div>
    </div>
{% endblock %}